body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.side-nav {
  position: absolute;
  border-right: 1px solid cornflowerblue;
  /* position: fixed; */
  margin: 0;
  height: 100%;
  width: 10%;
  background-color: #f3f7ff;
  display: flex;
  flex-direction: column;
}
.side-nav-row {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgb(166 217 230 / 35%);
  font-size: large;
  cursor: pointer;
}
.weather {
  margin-left: 10%;
  /* border: 1px solid black; */
  min-height: 100vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.weather .input-field {
  /* border: 1px solid black; */
  margin: 20px;
  width: 240px;
}
/* .weather .description {
  border: 1px solid black;
  position: absolute;
  margin-top: 20px;
  margin-left: 80%;
  height: 80px;
  width: 200px;
} */
.weather .bars {
  /* border: 1px solid green; */
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.weather .bar-graph {
  width: 46%;
  height: 300px;
  margin: 2%;
}
.aqm {
  margin-left: 10%;
  /* border: 1px solid black; */
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.aqm .form {
  /* border: 1px solid black; */
  min-height: 100vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aqm .map {
  border: 1px solid aquamarine;
  margin-top: 20px;
  width: 560px;
  height: 440px;
  background-image: url('/src/images/Durgapur_Map.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  position: relative;
  font-size: 6px;
  /* font-weight: bold; */
  color: blue;
}
.aqm .map .locations {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
}
.aqm .location-id {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 60px;
  width: 200px;
  border: 1px solid aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aqm .fields {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.aqm .input-field {
  /* border: 1px solid black; */
  margin: 20px;
  width: 240px;
}
.aqm .bars {
  border: 1px solid green;
  width: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.aqm .bar-graph {
  width: 80%;
  height: 240px;
  margin: 2%;
}
